
<form method="post">
    <div class="container w-25">
        <div class="row mb-6 alert alert-primary justify-content-center">Öğrenci Ekleme sayfasıdır</div>
        <div class="row mb-3">
            Ad:<input class="form-control" type="text" name="Ad" />
        </div>
        <div class="row mb-3">
            Soyad:<input class="form-control" type="text" name="Soyad" />
        </div>
        <div class="row mb-3">
            Numara:<input class="form-control" type="number" name="Numara" />
        </div>
        <div class="row mb-3">
            Sınıf:
            <select class="form-select" aria-label="Default select example" name="Sinif">
                <option selected disabled>Sınıf seçimi yapınız..</option>
                @foreach (string item in ViewBag.siniflar)
                {
                    <option value=@item>@item</option>
                }
            </select>
        </div>
        <div class="row mb-3">
            Bölüm:
            <select class="form-select" aria-label="Default select example" name="Bolum">
                <option selected hidden>Bölüm seçimi yapınız..</option>
                @foreach (string item in ViewBag.bolumler)
                {
                    <option value=@item>@item</option>
                }
            </select>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-success form-control" type="submit">Kaydet</button>
            </div>
            <div class="col">
                <a class="btn btn-danger form-control" href="/ogrenci/index">İptal</a>
            </div>
        </div>
    </div>
</form>