<h1> Burası Index sayfası</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sıra No</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Numara</th>
        </tr>
    </thead>
    <tbody class="bg-dark">

        @*@foreach (var item in ViewBag.Adlar)*@

        @for (int i = 0; i < ((List<string>)ViewBag.Adlar).Count(); i++)
        {
            <tr style=@(ViewBag.id==(i+1)?"color:red":"color:lime")>
                <th scope="row">@(i+1)</th>
                <td>@ViewBag.Adlar[i]</td>
                <td>@ViewBag.Soyadlar[i]</td>
                <td></td>
            </tr>
        }
        
        
    </tbody>
</table>